input[type="text"],
input[type="textarea"],
input[type="number"],
input[type="date"],
textarea,
.form-control {
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  height: 36px;
  padding-left: 8px;
}

input[type="select"],
select {
  border-radius: 4px;
  background-color: white;
  border: 1px solid #aeaeae;
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  height: 36px;
  padding: 0 8px;
}

label {
  margin: 8px 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #464e5f;
}

textarea {
  height: 200px;
  padding-top: 8px;
}
