@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./index";

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}
