.grafik-page {
    .header{
        .card{
            width: 7%;
        }
        h5{
            font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
        }
    }
    .statistic{
        .far,
        .fas {
            font-size: 2rem;
        }
        .label {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 21px;
        }
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }
    }
    
}
